<div class="body-container">
    <ul>
        <li>
            <img src=".\assets\jobs\my-jobs.png" alt="">
            <a href="">My jobs</a>
        </li>

        <li>
            <img src=".\assets\jobs\preferences.png" alt="">
            <a href="">Preferences</a>
        </li>

        <li>
            <img src=".\assets\jobs\interview-prep.png" alt="">
            <a href="">Interview prep</a>
        </li>

        <li>
            <img src=".\assets\jobs\resume-builder.png" alt="">
            <a href="">Resume builder</a>
        </li>

        <li>
            <img src=".\assets\jobs\job-seeker-guidance.png" alt="">
            <a href="">job seeker guidance</a>
        </li>
    </ul>
</div>