.feed-container {
    background-color: #fff;
    border-radius: 10px;
    
    padding: 5px 20px; 
}

.post {
    border-radius: 15px;
    padding: 25px;
    margin: 20px ;
    -webkit-box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.75);
box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.75);
}

/* Post Upper Part */
.postUpperPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moreIcon {
    cursor: pointer;
}
.leftUpperPart .postProfileImg {
    width: 50px;
    height: 50px ;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    object-fit: cover;
}
.leftUpperPart {
    display: flex;
    align-items: center;
}
.postProfileName {
    font-weight: 500;
    font-weight: 1rem;
    cursor: pointer;
}
.postDate {
    font-size: small;
    color: gray;
    margin-top: 2px;
}
/* ------------------- */

/* post middle part */
.postText {
    margin: 20px 0;
}
.postPic {
    width: 100%;
    object-fit: cover;
}
/* ---------------- */

/* post lower part */
.postLowerPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    color: gray;
}
.reactions {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.reactions .likedHeart{
    color: #e1101a;
    font-size: 2rem;
}
.reactions .unLikedHeart{
    font-size: 2rem;
}
.likeCount {
    margin-left: 10px;
}
.comments {
    border-bottom: 1px dashed gray;
    cursor: pointer;
}
/* --------------- */