<div class="profile-brief">
    <div class="profile-icon">
        <img src="./assets/navbar/user.jpg" alt="">
    </div>
    <div class="user-name">
        <p>Khaled Abuarida</p>
    </div>
    <div class="job-title">
        <p>Software Engineer</p>
    </div>
    <hr>
    <div class="connection-section">
        <div class="upper">
            <div class="connection-title">
                connections
            </div>
            <div class="connection-number">
                150
            </div>
        </div>
        <div class="lower">
            <p>connect with alumni</p>
        </div>
    </div>
    <hr>
    <div class="premium-section">
        <span>Learn new skills with premium</span>
        <div class="premium-plan">
            <div class="og-square"></div>
            <p>Try premium for EGP0</p>
        </div>
    </div>

    
</div>