.notifications-page-container {
    display: flex;
    background-color: #e2dfdf;
    height: calc(100vh - 125px);
    padding: 20px;
    justify-content: center;
    /* gap: 10px */
}

.left {
    display: flex;
    flex: 3;
}

.manage-notifications-container {
    display: flex;
    flex: 3;
}


.center {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center .notifications-type-container {
    flex: 1;
}

.center .notifications-body-container {
    flex: 11;
}



.right {
    /* display: flex; */
    flex: 2;
}

.links {
    height: 200px;
    width: 350px;
}

.links ul {
    /* align-items: center; */
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    column-gap: 40px;
    row-gap: 5px;
}

.links ul li a {
    text-decoration: none;
    color: #727270;
}