<div class="body-container">
    <div class="header">
        <p>Manage my network</p>
    </div>
    <ul>
        <li>
            <img src=".\assets\mynetwork\Connections.png" alt="">
            <a href="">Connections</a>
        </li>

        <li>
            <img src=".\assets\mynetwork\Following-and-followers.png" alt="">
            <a href="">Following and followers</a>
        </li>

        <li>
            <img src=".\assets\mynetwork\Groups.png" alt="">
            <a href="">Groups</a>
        </li>

        <li>
            <img src=".\assets\mynetwork\Events.png" alt="">
            <a href="">Events</a>
        </li>

        <li>
            <img src=".\assets\mynetwork\Pages.png" alt="">
            <a href="">Pages</a>
        </li>

        <li>
            <img src=".\assets\mynetwork\Newsletters.png" alt="">
            <a href="">Newsletters</a>
        </li>

        <li>
            <img src=".\assets\mynetwork\Hashtags.png" alt="">
            <a href="">Hashtags</a>
        </li>
    </ul>
</div>