.body-container {
    display: flex;
    background-color: #e2dfdf;
    min-height: calc(100vh - 125px);
    padding: 20px;
    gap: 20px;
}


.left {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 7;
    display: flex;
    flex-direction: column;
}


.right {
    flex: 3;
    display: flex;
    flex-direction: column;
}