.body-container {
    background-color: #004182;
    height: 100vh;
    gap: 50px;
    display: flex;
    flex-direction: column;
}


.header-container {
    flex: 1;
}

.form-container {
    flex: 11;
}