<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

<div class="body-container" ng-init="showText='Show'">
    <img class="logo" src=".\assets\navbar\linkedin.png" alt="">

    <p class="head">Millions of jobs and people hiring</p>

    <div class="login-form">

        <form action="">
            <label for="email" class="labemail">Email </label>
            <input type="text" class="email" required>

            <hr>

            <label for="password" class="labpass">Password </label>
            <div class="password-container">
                <input type="{{ showPassword? 'text' : 'password' }}" class="password" required>
                <a (click)="togglePassword()" class="show-password">{{showText}}</a>
            </div>

            <a href="" class="forgot-password">Forgot password?</a>

            <button type="submit" class="login">Sign in</button>
        </form>

        <div class="or">
            <hr class="line">
            <p>or</p>
            <hr class="line">
        </div>

        <p class="links">
            By clicking Agree & Join or Continue, you agree to the LinkedIn <a href="">User</a>, <a
                href="">Agreement</a>, <a href="">Privacy
                Policy</a>,
            and <a href="">Cookie Policy</a>.
        </p>

        <button class="google">
            <img src="./assets/google.png" />
            Continue with Google
        </button>

        <button class="google">New to LinkedIn? <a href="/signup" class="join">Join now</a></button>

    </div>

</div>