
<div class="header-container">

    <!-- Left side -->
    <div class="left">
        <div class="logo">
            <img src="./assets/navbar/link.png" alt="">
        </div>
        <div class="search">
            <img src="./assets/navbar/search.png" alt="">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <!-- Center -->
    <div class="center">

        <!-- nav links -->
        <div class="navbar">
            <ul class="nav-links">
                <li class="nav-item">
                    <img src="./assets/navbar/home.png" alt="" >
                    <p>Home</p>
                </li>
                <li class="nav-item">
                    <img src="./assets/navbar/group.png" alt="">
                    <p>My Network</p>
                </li>
                <li class="nav-item">
                    <img src="./assets/navbar/briefcase.png" alt="">
                    <p>Jobs</p>
                </li>
                <li class="nav-item">
                    <img src="./assets/navbar/chat.png" alt="">
                    <p>Messaging</p>
                </li>
                <li class="nav-item">
                    <img src="./assets/navbar/bell.png" alt="">
                    <p>Notification</p>
                </li>
            </ul>
        </div>

        <!-- profile -->
        <div class="profile-icon">
            <img class="profile" src="./assets/navbar/profile.png" alt="">
            <div class="text-with-drop-icon">
                <p>Me</p>
                <img class="dropdown-icon" src="./assets/navbar/dropdown.png" alt="">
            </div>
        </div>

    </div>

    <!-- Right -->
    <div class="right">
        <div class="for-business">
            <img class="grid" src="./assets/navbar/grid.png" alt="">
            <div class="text-with-drop-icon">
                <p>For Business</p>
                <img class="dropdown-icon" src="./assets/navbar/dropdown.png" alt="">
            </div>

        </div>
    </div>
</div>