<ng-container *ngIf="!hideHeader">
  <div class="header-container">
    <!-- Left side -->
    <div class="left">
      <div class="logo">
        <img src="./assets/navbar/link.png" alt="" />
      </div>
      <div class="search">
        <img src="./assets/navbar/search.png" alt="" />
        <input type="text" placeholder="Search" />
      </div>
    </div>

    <!-- Center -->
    <div class="center">
      <!-- nav links -->
      <div class="navbar">
        <ul class="nav-links">
          <li class="nav-item">
            <a href="/">
              <img src="./assets/navbar/home.png" alt="" />
            </a>
            <p>Home</p>
          </li>
          <li class="nav-item">
            <a href="/neworks">
              <img src="./assets/navbar/group.png" alt="" />
            </a>
            <p>My Network</p>
          </li>
          <li class="nav-item">
            <a href="/jobs">
              <img src="./assets/navbar/briefcase.png" alt="" />
            </a>
            <p>Jobs</p>
          </li>
          <li class="nav-item">
            <img src="./assets/navbar/chat.png" alt="" />
            <p>Messaging</p>
          </li>
          <li class="nav-item">
            <img src="./assets/navbar/bell.png" alt="" />
            <p>Notification</p>
          </li>
        </ul>
      </div>

      <!-- profile -->
      <div class="profile-icon">
        <a href="/profile">
          <img class="profile" src="./assets/navbar/user.jpg" alt="" />
        </a>
        <div class="text-with-drop-icon">
          <p>Me</p>
          <img class="dropdown-icon" src="./assets/navbar/dropdown.png" alt="" />
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="right">
      <div class="for-business">
        <a href="/login">
          <img class="grid" src="./assets/navbar/grid.png" alt="" />
        </a>
        <div class="text-with-drop-icon">
          <p>login</p>
          <img class="dropdown-icon" src="./assets/navbar/dropdown.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</ng-container>