.body-container {
    display: flex;
    background-color: #e2dfdf;
    min-height: calc(100vh - 125px);
    padding: 20px;
    gap: 20px;
}


.left {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.center .jobs-top-comp {
    flex: 6;
    /* display: flex;
    flex-direction: column; */
}

.center .jobs-discover-comp {
    flex: 6;
    /* display: flex;
    flex-direction: column; */
}

.right {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.links {
    height: 200px;
    width: 350px;
}

.links ul {
    /* align-items: center; */
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    column-gap: 40px;
    row-gap: 5px;
}

.links ul li a {
    text-decoration: none;
    color: #727270;
}