<div class="body-container">
    <h3>Job seeker guidance</h3>

    <p class="recommended">Recommended based on your activity</p>

    <div class="improve">
        <p>I want to improve my resume</p>
        <img src=".\assets\jobs\improve.png" alt="">
    </div>

    <p class="explore">
        Explore our curated guide of expert-led courses, such as how to improve your resume and grow your network, to
        help you
        land your next opportunity.
    </p>

    <div class="show">
        <a href="">Show more &#8594;</a>
    </div>

</div>