.body-container {
    border-radius: 10px;
    background-color: #fff;
    width: 700px;
    height: 400px;
    gap: 20px;
    padding: 0px 20px;
    overflow: auto;
}

.body-container p {
    color: #979797;
}