.add-post-container {
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.add-post-container img {
    width: 70px;
    height: 70px;
}

.upper-side {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.upper-side input{
    flex: 10;
    border-radius: 50px;
    border: 1px solid #000;
    height: 50px;
    padding-left: 20px;
}

.upper-side input::placeholder {
    font-size: 1rem;
}

.lower-side ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
}

.post-type {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-type img {
    width: 35px;
    height: 35px;
}

.profile-pic {
    border-radius: 50%;
}

.upper-side button {
    border-radius: 5px;
    background-color: #0a66c2;
    color: #fff;
    width: 80px;
    height: 50px;
    font-size: large;
}