<div class="add-post-container">

    <!-- upper -->
    <div class="upper-side">
        <img src="./assets/navbar/profile.png" alt="" class="profile-pic">
        <input type="text" class="start-post-field" placeholder="Start a post, try writing with AI">
    </div>

    <!-- lower -->
    <div class="lower-side">
        <ul>
            <li class="post-type">
                <img src="./assets/navbar/image.png" alt="">
                <p>Media</p>
            </li>
            <li class="post-type">
                <img src="./assets/navbar/calendar.png" alt="">
                <p>Event</p>
            </li>
            <li class="post-type">
                <img src="./assets/navbar/article.png" alt="">
                <p>Write article</p>
            </li>
        </ul>

    </div>
</div>
