<div class="feed-container">
  <div class="post">
    <div class="postContainer">
      <div class="postUpperPart">
        <div class="leftUpperPart">
          <img class="postProfileImg" src="./assets/navbar/profile.png" />
          <div>
            <span class="postProfileName">John Doe</span>
            <div class="postDate">25 minutes ago</div>
          </div>
        </div>
        <div class="rightUpperPart">
          <!-- <MoreVertIcon class="moreIcon" /> -->
        </div>
      </div>
      <div class="postMiddlePart">
        <div class="content">
          <div class="postText"></div>
          <img
            class="postPic"
            src="https://images.ctfassets.net/00i767ygo3tc/asset-sktwinq8jrzfu78i/82e88006f3f39b5d1a7548fc64a657eb/how-to-post-a-video-on-instagram.jpg?w=1800&q=50"
          />
        </div>
      </div>
      <div class="postLowerPart">
        <div class="reactions">
          <span class="likeCount">20 people like this</span>
        </div>
        <div class="comments">
          <span> Comments</span>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="postContainer">
      <div class="postUpperPart">
        <div class="leftUpperPart">
          <img class="postProfileImg" src="./assets/navbar/profile.png" />
          <div>
            <span class="postProfileName">John Doe</span>
            <div class="postDate">25 minutes ago</div>
          </div>
        </div>
        <div class="rightUpperPart">
          <!-- <MoreVertIcon class="moreIcon" /> -->
        </div>
      </div>
      <div class="postMiddlePart">
        <div class="content">
          <div class="postText"></div>
          <img
            class="postPic"
            src="https://images.ctfassets.net/00i767ygo3tc/asset-sktwinq8jrzfu78i/82e88006f3f39b5d1a7548fc64a657eb/how-to-post-a-video-on-instagram.jpg?w=1800&q=50"
          />
        </div>
      </div>
      <div class="postLowerPart">
        <div class="reactions">
          <span class="likeCount">20 people like this</span>
        </div>
        <div class="comments">
          <span> Comments</span>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="postContainer">
      <div class="postUpperPart">
        <div class="leftUpperPart">
          <img class="postProfileImg" src="./assets/navbar/profile.png" />
          <div>
            <span class="postProfileName">John Doe</span>
            <div class="postDate">25 minutes ago</div>
          </div>
        </div>
        <div class="rightUpperPart">
          <!-- <MoreVertIcon class="moreIcon" /> -->
        </div>
      </div>
      <div class="postMiddlePart">
        <div class="content">
          <div class="postText"></div>
          <img
            class="postPic"
            src="https://images.ctfassets.net/00i767ygo3tc/asset-sktwinq8jrzfu78i/82e88006f3f39b5d1a7548fc64a657eb/how-to-post-a-video-on-instagram.jpg?w=1800&q=50"
          />
        </div>
      </div>
      <div class="postLowerPart">
        <div class="reactions">
          <span class="likeCount">20 people like this</span>
        </div>
        <div class="comments">
          <span> Comments</span>
        </div>
      </div>
    </div>
  </div>
</div>
