<div class="body-container">
  <div class="left">
    <div class="jobs-options-comp">
      <app-jobs-page-options></app-jobs-page-options>
    </div>
  </div>

  <div class="center">
    <div class="jobs-top-comp">
      <app-jobs-page-top></app-jobs-page-top>
    </div>
   
  </div>

  <div class="right">
    <div class="jobs-guidance-comp">
      <app-jobs-page-guidance></app-jobs-page-guidance>
    </div>
    <div class="links">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Accessibility</a></li>
        <li><a href="">Center</a></li>
        <li><a href="">Privacy & Terms</a></li>
        <li><a href="">Ad Choices</a></li>
        <li><a href="">Advertising</a></li>
        <li><a href="">Business Services</a></li>
        <li><a href="">Get the LinkedIn app</a></li>
        <li><a href="">More</a></li>
        <li><a href="">LinkedIn Corporation © 2024</a></li>
      </ul>
    </div>
  </div>
</div>
