<div class="Recent-div">
    <h5>Recent</h5>
    <div class="icon-with-text">
        <img src="https://s3-alpha-sig.figma.com/img/ef6a/18bc/b4a1d4b3abb54aad1473fa726a9b34a3?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=e18u~5xs5VfrMRI0viSEjHAyV8W~~dTE5tTFRjDfwYkVAWutjba92-KxVKWagsBH9e7mQGeQew~BYfAA9IU-4sWvy6apmxnHVbK9NWRketD7TVVP3-2EHCO~Z8v4t~DeHxIXb4tCc7GFIe0X60YNfqaSYWL~UAGAQ9Z-wmBaOuPcviuhdfjwr5VEKqCvs8bDQgazhrgtfkTSHwZZ3ZxSmg53SNGeeclN9Mddva6h3twcsNeBXl360Ip9e8MiP8-TsKgVwqYSRRdWe9x~tSa~aL8rrwT2uFwubuTuxguCijlttGcjtWMhwDvnTRLoONM0HYnmAcIiYI~Mptk4eLbn3Q__" alt="groups" class="icon">
        <p>User Experience Design (UX)</p>  
    </div>
    <div class="groups">
        <h5>Groups</h5>
    </div>
    <div class="container">
        <h5 >Events</h5>
        <i class=""></i>
    </div>

</div>


