.hiring-container {
    display: flex;
    /* justify-content: center; */
    background-color: #fff;
    gap: 20px;
    width: 350px;
    height: 375px;
    border-radius: 10px;
}

.hiring-container img {
    border-radius: 10px;
    width: 350px;
    height: 375px;
}