<div class="body-container">

    <div class="profile">
        <div class="container">
            <div class="avatar">
                <img src="./assets/navbar/profile.png" alt="User Avatar">
            </div>
            <div class="user-info">
                <h1>Khaled Younis</h1>
                <p>UI/UX DESIGNER</p>
            </div>
            <div class="contact-info">
                <div class="contact-item">
                    <img src=".\assets\email.png" alt="Email Icon">
                    <p>Khaledyouniis1&#64;gmail.com</p>
                </div>
                <div class="contact-item">
                    <img src=".\assets\phone-call.png" alt="Phone Icon">
                    <p>01024740013</p>
                </div>
            </div>
            <input type="file" id="resume-upload" style="display: none;">
            <button class="upload-button" onclick="document.getElementById('resume-upload').click()">Upload your
                resume</button>
        </div>
    </div>


    <div class="another-data">
        <div class="saved-jobs">
            <h3>Saved Jobs</h3>
            <div class="jobs-container">
                <div class="job">
                    <p>Job 1</p>
                    <p>Job 2</p>
                    <p>Job 3</p>
                </div>
            </div>
        </div>

        <div class="preferences">
            <h3>preferences</h3>
            <div class="preferences-container">
                <p>preference 1</p>
                <p>preference 2</p>
                <p>preference 3</p>
            </div>
        </div>
    </div>

</div>