<div class="body-container">

    <div class="profile">
        <div class="container">
            <div class="avatar">
                <img src="./assets/navbar/profile.png" alt="User Avatar">
            </div>
            <div class="user-info">
                <h1>{{user.email}}</h1>
                <p>UI/UX DESIGNER</p>
            </div>
            <div class="contact-info">
                <div class="contact-item">
                    <img src=".\assets\email.png" alt="Email Icon">
                    <p>{{user.github}}</p>
                </div>
                <div class="contact-item">
                    <img src=".\assets\phone-call.png" alt="Phone Icon">
                    <p>{{user.phone}}</p>
                </div>
            </div>
            <input type="file" id="resume-upload" style="display: none;">
            <button class="upload-button" onclick="document.getElementById('resume-upload').click()">Upload your
                resume</button>
        </div>
    </div>


    <div class="another-data">
        <div class="saved-jobs">
            <h3>Job preference</h3>
            <div class="jobs-container">
                <div class="job" *ngFor="let i of user.job_preferences">
                    <p>{{i }}</p>

                </div>
            </div>
        </div>

        <div class="preferences">
            <h3>Saved Jobs</h3>
            <div class="preferences-container" *ngFor="let i of user.jobs_saved">
                {{i.title}}
            </div>
        </div>
    </div>

</div>