.info-container {
    border-radius: 10px;
    background-color: #fff;
    width: 250px;
    height: 125px;
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}