<div class="list-container">
  <h2>Posted Jobs</h2>
  <div *ngIf="jobs$ | async as jobs; else loading">
    <div *ngFor="let job of jobs">
      <div class="job-card">
        <div class="job-listing">
          <div class="job-details">
            <h3>{{ job.title }}</h3>
            <p>Company: {{ job.company?.company_name }}</p>
            <p>Location: {{ job.location }}</p>
            <p>Status: Active</p>
          </div>
          <div class="job-actions">
            <ul class="action-list">
              <li>Edit Job</li>
              <li>
                <a (click)="viewApplicant(job.Applicants!)">
                  View Applicants
                </a>
              </li>
              <li>
                <a (click)="delete(job)">Delete Job</a>
              </li>
              <li>Pause</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
