<div class="home-container">
  <!-- left -->
  <div class="left">
    <!-- profile brief component -->
    <div class="profile-brief-comp">
      <app-profile-brief></app-profile-brief>
    </div>

    <!-- recent visits component-->
    <div class="recent-visit-comp">
      <app-recent-visit></app-recent-visit>
    </div>
  </div>

  <!-- center -->
  <div class="center">
    <!-- add post component-->
    <div class="add-post-comp">
      <app-add-post></app-add-post>
    </div>

    <!-- Feed component -->
    <div class="feed-comp">
      <app-feed></app-feed>
    </div>
  </div>

  <!-- right -->
  <div class="right">
    <!-- add to your followings component -->
    <div class="add-followings-comp">
      <app-add-followings></app-add-followings>
    </div>
  </div>
</div>
